body {
    background:url("../../img/img-5dfa4ed9861c048cd35ffe0284f3f22d.jpg");
    background-repeat:no-repeat;
    background-size:100%
}
a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}  



